.text-bfme1 {
  color: #c51d1d;
}

.text-bfme2 {
  color: #17ac2b;
}

.text-rotwk {
  color: #207feb;
}

.text-uncategorized,
.text-aotr {
  color: #b8b8b8;
}

#bfme {
  border-color: #8a0d0d;
}
#bfme .select-version {
  border-color: #da0f0f;
}

#bfme2 {
  border-color: #167e24;
}
#bfme2 .select-version {
  border-color: #1cbe32;
}

#rotwk {
  border-color: #155094;
}
#rotwk .select-version {
  border-color: #207feb;
}

#aotr,
#uncategorized {
  border-color: #797979;
}

#aotr .select-version,
#uncategorized .select-version {
  border-color: #797979;
}

#bfme .select-version:hover,
#bfme2 .select-version:hover,
#rotwk .select-version:hover,
#aotr .select-version:hover,
#uncategorized .select-version:hover {
  border-color: #cacaca;
}
.select-version:hover > h6 {
  color: #cacaca;
}

.control-main.men,
.control-main.gondor {
  /* background-color: rgba(0, 102, 255, 0.1); */
  background-color: rgb(87, 125, 207);
}

.control-main.men > .control-main.men,
.control-main.gondor > .control-main.gondor {
  background-color: rgb(129, 157, 219);
}

.control-main.men > .control-main.men > .control-main.men,
.control-main.gondor > .control-main.gondor > .control-main.gondor {
  background-color: rgb(171, 193, 241);
}

.control-main.elves,
.control-main.rohan {
  background-color: rgb(75, 192, 91);
}

.control-main.elves > .control-main.elves,
.control-main.rohan > .control-main.rohan {
  background-color: rgb(124, 209, 135);
}

.control-main.elves > .control-main.elves > .control-main.elves,
.control-main.rohan > .control-main.rohan > .control-main.rohan {
  background-color: rgb(155, 228, 165);
}

.control-main.dwarves {
  background-color: rgb(233, 216, 66);
}

.control-main.dwarves > .control-main.dwarves {
  background-color: rgb(248, 235, 119);
}

.control-main.dwarves > .control-main.dwarves > .control-main.dwarves {
  background-color: rgb(255, 245, 152);
}

.control-main.isengard {
  background-color: rgb(129, 129, 129);
}

.control-main.isengard > .control-main.isengard {
  background-color: rgb(168, 168, 168);
}

.control-main.isengard > .control-main.isengard > .control-main.isengard {
  background-color: rgb(196, 196, 196);
}

.control-main.mordor {
  background-color: rgb(199, 50, 50);
}

.control-main.mordor > .control-main.mordor {
  background-color: rgb(253, 87, 87);
}

.control-main.mordor > .control-main.mordor > .control-main.mordor {
  background-color: rgb(255, 117, 117);
}

.control-main.goblins {
  background-color: rgb(247, 126, 45);
}

.control-main.goblins > .control-main.goblins {
  background-color: rgb(255, 154, 87);
}

.control-main.goblins > .control-main.goblins > .control-main.goblins {
  background-color: rgb(255, 177, 126);
}

.control-main.angmar {
  background-color: rgb(138, 64, 187);
}

.control-main.angmar > .control-main.angmar {
  background-color: rgb(170, 99, 218);
}

.control-main.angmar > .control-main.angmar > .control-main.angmar {
  background-color: rgb(189, 129, 230);
}

.basic-row,
.control-main.misc {
  background-color: rgb(204, 204, 204);
}

.basic-row > .basic-row,
.control-main.misc > .control-main.misc {
  background-color: rgb(241, 241, 241);
}

.bgdark {
  background-color: rgb(65, 65, 65);
}
