.game-icon {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.game-icon img {
  display: block;
  height: 48px;
  width: 48px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.game-icon:hover {
  box-shadow: 0px 3px 25px #000;
}

.disabled {
  border-color: rgb(255, 174, 0);
  cursor: not-allowed;
}

#rotwk {
  border-color: #207feb;
}

.text-rotwk {
  color: #207feb;
}

.text-bfme2 {
  color: #17ac2b;
}

.text-bfme1 {
  color: #9e1c1c;
}
