body {
  background-image: url("../assets/images/background.webp");
  /* background-repeat: repeat; */
  background-size: cover;
  background-attachment: fixed;
}

.sticky {
  position: sticky;
  top: 0px;
}

.header {
  display: flex;
  align-items: center;
  /* min-height: 100px; */
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 10px;
  max-width: 1320px;
  justify-content: space-around;
}

.header > div {
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-white {
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounded-corner {
  border-radius: 10px;
}

.disabled img {
  filter: grayscale(100%);
}
